
.rowposters{
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    overflow-y: hidden;
}
.row{
    margin-left: 10px;
}
.rowposters::-webkit-scrollbar{
    display: none;
}
.rowposter{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    transition: transform 350ms;
    margin-right: 10px;
}
.rowposter:hover{
    transform: scale(1.1);
    opacity: 1;
}
.rowposterlarge{
    max-height: 250px;
}
.rowposterlarge:hover{
    transform: scale(1.1);
}
.row>h2{
    color: white;
    margin-top: 20px;
}